.exp-main {
  text-align: center;
  align-items: center;
}
.exp-div {
  max-width: 1120px;
}
.price-ticket {
  width: 160px;
  height: 100px;
  border-radius: 10px;
  margin: auto;
  padding: 25px 25 px;
  -webkit-box-shadow: 0px 0px 15px 3px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 15px 3px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 15px 3px rgba(34, 60, 80, 0.2);
}
.p-info-price {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #0499dd;
  display: flex;
  align-items: center;
}
.exp-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #0499dd;
  margin-bottom: 80px;
}
