.galery-div-name {
  margin-top: 100px;
  padding-bottom: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.galery-name {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #0499dd;
}
.galery-title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
}
